"Welcome to your dashboard"

<% if logged_in? %>
	<% @user = User.find_by_id(session[:user_id]) %>
	Welcome <%= @user.username %>
	<%else%>
	<%= "Not Logged in" %>
 <%end%>

<h4>My lawyers</h4>
	<%@user.lawyers.all.each do |a|%>
	<%=	"#{a.name}, #{a.number}" %> <br />
		<%end%>
<h3><a href="lawyer_search">Search for a lawyer</a> </h3>
jgmh
