<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Find a Lawyer</title>

 <!-- Latest compiled and minified CSS -->
      <script src="https://use.fontawesome.com/7ef75f2b2e.js"></script>
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Find A Lawyer</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/user/dashboard">My Dashboard</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-push-1">
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-12  ">

                <div class="col-md-4 col-md-push-1">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-sign-in fa-lg"></i>&nbsp;
                            Signup
                        </div>
                        <div class="panel-body">
      <form method="post" action="/signup">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="eg: Mark123">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="************">
  </div>
    <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="eg: Jhon">
  </div>
   <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="eg: Jhon">
  </div>
     <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="eg: email@example.com">
  </div>
  <button type="submit" class="btn btn-default pull-right">   <i class="fa fa-sign-in"></i>&nbsp;
Signup</button>
</form>
                        </div>
                    </div>

                    </div>

                       <div class="col-md-6 col-md-push-1">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            Lawyer facts
                        </div>
                    <div class="panel-body">
                            <div id="notice-slider" class="carousel slide sidebar-slider" data-interval="10000" data-ride="carousel">
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#notice-slider" data-slide-to="0" class=""></li>
                                    <li data-target="#notice-slider" data-slide-to="1" class=""></li>
                                    <li data-target="#notice-slider" data-slide-to="2" class="active"></li>
                                </ol>
                               <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="item">
                                        <h4>Fact #1</h4>
                                        <p> In ancient Greece, the earliest attorneys were actually orators who became advocates for people. They most wrote speeches for litigants and occasionally stood up before juries as witnesses for them.</p>

                                    </div>
                                    <div class="item active left">
                                        <h4>Fact #2</h4>
                                        <p>An attorney can sometimes have your case dismissed without even going to court. In fact, attorneys do not always have to go to court to have a case concluded. Transactional attorneys and others can make it so that your case never sees the light of day and you needn’t step into a courtroom.</p>

                                    </div>
                                    <div class="item next left">
                                        <h4>Fact #3</h4>
                                        <p>An attorney cannot become an attorney unless he or she passes a strict code of ethics test. In fact, all lawyers must pass this Model Rules of Professional Conduct test, which means that attorneys are held to the highest possible standards and practices, ensuring you get proper representation and legal protection.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>

                    <div class="col-md-6 col-md-push-1">
                        <div class="panel panel-default">
                        <div class="panel-heading">  </div>
                            <div class="panel-body">
                                <h3>Already have an account?</h3>
                                      <form method="post" action="/login" >
                                        <div class="col-md-6">
                                        <div class="form-group">
                                        <input type="text" class="form-control" name="username" placeholder="Username">
                                    </div>
                                       <div class="form-group">
                                        <input type="password" class="form-control" name="password" placeholder="password">
                                    </div>
                                    </div>                                      <div class="col-md-6">
                                         <button type="submit" class="btn btn-default sign-btn ">   <i class="fa fa-sign-in"></i>&nbsp;
Signin</button>
                                     </div>
                                 </form>
                        </div>
                          <div class="panel-footer"></div>

                        </div>
                        </div>

                    </div>
                </div>
            </div>





        </div>

    </div>
</div>




    <footer>

    </footer>
    <style type="text/css">
        /* Global styles */
        .sign-btn{
            margin-top:1em;
        }
        .red{
            border:1px solid red;
        }
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic');

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
b,
strong {
    font-weight: 700;
}

.lead,
.panel-heading {
    font-size: 16px;
    font-weight: 400;
}

/* Colorgraph styles */

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.colorgraph-header {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 3px;
    z-index: 100;
}

/* Page styles */

body {
    padding-top: 70px;
    background: url('http://www.stripegenerator.com/generators/generate_stripes.php?fore=f8f8f8&h=30&w=20&p=20&back1=fcfcfcfdfd&back2=dddddd&gt=0&d=0&shadow=0') repeat;
    background-attachment: fixed;
}

.profile-panel, .academic-panel, .achievements-panel, .projects-panel {

}

.user-image {
    border: 8px solid #eee;
}

.user-info-box {
    padding-left: 30px;
}


/* Carousel */

.sidebar-slider.carousel .carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}

.sidebar-slider.carousel .item {
    padding-bottom: 20px;
}

.sidebar-slider.carousel .carousel-indicators > li {
    background-color: #bbb;
    border: none;
}

.sidebar-slider.carousel .carousel-indicators > li.active {
    background-color: #666;
}

/* Media queries */

@media (max-width:480px) {
    .btn-edit {
        margin-top: 8px;
    }

    .user-info-box {
        padding-left: 15px;
    }
}

.well {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    font-size: 110%;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
    </style>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
